<!DOCTYPE html>
{# Базовый шаблон для _всех_ страниц #}
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	{% assets "scss_all" %}
	<link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
	{% endassets %}
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/legacy.css') }}">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css' />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}" />
</head>
<body>
	{% block body %}{% endblock %}
</body>
</html>