{% extends "base.html" %}

{% block title %}Двери закрыты...{% endblock %}

{% block body %}
<div class="login-page">
	<form action="" method="post" novalidate>
		{{ form.hidden_tag() }}
		<div class="form-section form-section--caption">
			<h1>Кто там?</h1>
		</div>
		<div class="form-section">
			<!-- todo: remove this! --><div style="color: #a8a8a8; font-style: italic; margin-bottom: 10px;">Логин и пароль "admin"</div>
			<div>
				{{ form.login(size=32, placeholder="Логин", class="textfield", required="required") }}
			</div>
			<div>
				{{ form.password(size=32, placeholder="******", class="textfield", required="required") }}
			</div>
			<div>{{ form.submit(class="btn") }}</div>
		</div>
		{% include "flashes.html" %}
	</form>
</div>



{% endblock %}