{% extends "content.html" %}

{% block title %}Tatiana - планирование{% endblock %}

{% block content %}

<h1>Планирование</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi consequuntur cupiditate dolor error expedita illum itaque iure maiores mollitia nesciunt nihil, nobis optio perferendis porro quasi quis sint totam ut.
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi consequuntur cupiditate dolor error expedita illum itaque iure maiores mollitia nesciunt nihil, nobis optio perferendis porro quasi quis sint totam ut.
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi consequuntur cupiditate dolor error expedita illum itaque iure maiores mollitia nesciunt nihil, nobis optio perferendis porro quasi quis sint totam ut.
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi consequuntur cupiditate dolor error expedita illum itaque iure maiores mollitia nesciunt nihil, nobis optio perferendis porro quasi quis sint totam ut.</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi consequuntur cupiditate dolor error expedita illum itaque iure maiores mollitia nesciunt nihil, nobis optio perferendis porro quasi quis sint totam ut.
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi consequuntur cupiditate dolor error expedita illum itaque iure maiores mollitia nesciunt nihil, nobis optio perferendis porro quasi quis sint totam ut.
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi consequuntur cupiditate dolor error expedita illum itaque iure maiores mollitia nesciunt nihil, nobis optio perferendis porro quasi quis sint totam ut.
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi consequuntur cupiditate dolor error expedita illum itaque iure maiores mollitia nesciunt nihil, nobis optio perferendis porro quasi quis sint totam ut.</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi consequuntur cupiditate dolor error expedita illum itaque iure maiores mollitia nesciunt nihil, nobis optio perferendis porro quasi quis sint totam ut.
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi consequuntur cupiditate dolor error expedita illum itaque iure maiores mollitia nesciunt nihil, nobis optio perferendis porro quasi quis sint totam ut.
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi consequuntur cupiditate dolor error expedita illum itaque iure maiores mollitia nesciunt nihil, nobis optio perferendis porro quasi quis sint totam ut.
	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi consequuntur cupiditate dolor error expedita illum itaque iure maiores mollitia nesciunt nihil, nobis optio perferendis porro quasi quis sint totam ut.</p>

{% endblock %}