@import "variables";

$navbar-height: 48px;

.navbar {
	background-color: #222729;
	box-shadow: 0px 4px 12px 4px rgba(0,0,0,0.75);
	color: white;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	height: $navbar-height;
	position: fixed;
	top: 0;
	width: 100%;
	justify-content: space-around;

	&__item {
		line-height: $navbar-height;
		padding: 0 20px;

		&--dynamic-space {
			flex-grow: 10;
		}

		&--clickable {
			cursor: pointer;

			&:hover {
				background-color: #494f51;
			}
		}

		&--active {
			border-bottom: 5px solid #ff8b3d;
		}

		&.logout {
			border-left: solid 1px #5a5a5a;
		}
	}

	@media only screen and (max-width: $breakpoint-tablet) {
		&__label {
			display: none;
		}
	}

	a {
		text-decoration: none;
		color: inherit;
	}
}

.sidebar {

}

.content {
	padding: 20px;
	margin-top: $navbar-height;
}

@media only screen and (min-width: $breakpoint-desktop-large) {
	.content {
		padding: 20px 300px;
	}
}