{% extends "content.html" %}

{% block title %}Tatiana - планирование{% endblock %}

{% block content %}

<h1>Планирование</h1>

<section>

	<table>
		<thead>
			<tr>
				<th>Устройство</th>
				<th></th>
				<th></th>
				<th>Дни</th>
			</tr>
		</thead>
		<tbody id="table-body">
			{% for scheduler in schedulers %}
				<tr>
					<td>{{ scheduler.pin }}</td>
					<td>{{ scheduler.ontime }}</td>
					<td>{{ scheduler.offtime }}</td>
					<td>{{ scheduler.calendar }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<input type="time" step="1" id="start">
	<input type="time" step="1" id="end">
	<select id="type">
		{% for key, value in scheduler_types.items() %}
			<option value="{{key}}" {% if value.default_selected %} selected="selected" {% endif %}>{{value.label}}</option>
		{% endfor %}
	</select>
	<button id="add">Записать в календарь</button>
</section>

<script>
	(() => {
		document.querySelector('#add').addEventListener('click', async () => {
			console.log('Add');

			const start = document.querySelector('#start').value;
			const end = document.querySelector('#end').value;
			const type = document.querySelector('#type').value;

			await fetch('/scheduling', {
				method: 'POST',
				body: JSON.stringify({
					start,
					end,
					type,
				})
			});
			updateTable();
		});

		async function getSchedulers() {
			const response = await fetch('/scheduling/all');
			return response.json();
		}

		async function updateTable() {
			const schedulers = await getSchedulers();
			const table = document.querySelector('#table-body');
			table.innerHTML = '';

			for (let scheduler of schedulers) {
				table.innerHTML += `<tr>
										<td>${scheduler.pin}</td>
										<td>${scheduler.ontime}</td>
										<td>${scheduler.offtime}</td>
										<td>${scheduler.calendar}</td>
									</tr>`;
			}

		}
	})();
</script>

{% endblock %}